.booking-payment-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

.form-section {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
}

button.submit-btn:hover {
    background-color: #45a049;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content-booking {
    background: white;
    padding: 30px;
    text-align: center;
    width: 400px;
    border-radius: 10px;
}

/* .popup-content-booking h3,p{
    color: black;
} */

.popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.popup button:hover {
    background-color: #45a049;
}